/****************** MARGIN & PADDING LAVER IKKE BOX'S STØRRE ******************/
* {
    box-sizing: border-box;
}

/******************************************************************************/
/************************** FÆLLES FOR ALLE SIDER *****************************/
/******************************************************************************/

/*********************************** BODY *************************************/
body {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    line-height: 130%;
}

/******************************************************************************/
/********************************** WRAPPER ***********************************/
/******************************************************************************/
#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /*grid-template-rows: 0.5fr 1.3fr 1fr 1fr 1fr 0.3fr;*/
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        "hero hero hero"
        "separator separator separator"
        "innerwrapper innerwrapper innerwrapper"
        "footer footer footer";   
}

/******************************************************************************/
/*********************************** HEADER ***********************************/
/******************************************************************************/
header {
    display: block;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("../grafik/jule_guirlande2.png");
    position: fixed;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(15px 15px 15px #222);
    grid-area: header;
    grid-column-end: span 4;
    z-index: 1;
}

#guirlande {
    display: block;    
}

#mobilLogo {
    display: none;
}

/******************************************************************************/
/********************************** MENU/LOGO *********************************/
/******************************************************************************/
#gbLogo {
    display: block;    
    width: 100%;
    padding: 0 15px 15px 15px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

nav {
    display: block;
    width: 15%;
    float: left;
    padding: 20px 0;
    position: fixed;
    top: 150px;
    /*grid-area: nav;*/
    z-index: 1;
}

nav ul li {
    display: block;
     
}

nav ul li a:hover {
    display: block;
    filter: opacity(50%);
}

nav ul li a img {
    display: block;
    width: 100%;
    margin: 15px 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.burgermenu {
    display: none;
}

/******************************************************************************/
/********************************* MAIN CONTENT *******************************/
/******************************************************************************/
#omMarmelade img, #omGroenBalance img, #kage1 img, #kage2 img {
    width: 100%;
}

#hero {
    width: 100%;
    grid-area: hero;
}

#heroImg {
    width: 100%;
    vertical-align: bottom;
}

/*#hero a {
    position: relative;
    bottom: 70px;
    left: 45.5%;
}

.fa-arrow-circle-down {
    color: rgba(255, 255, 255, 0.5);
}*/

#separator {
    background-repeat: repeat-x;
    background-image: url("../grafik/candy-cane.png");
    grid-area: separator;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(15px 15px 15px #222);
}

#innerWrapper {
    width: 100%;
    grid-area: innerwrapper;    
}

#omMarmelade {
    background-color: #ececec;
    padding: 30px 30px 30px 18%;
    vertical-align: top;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "h1 h1 h1 h1 h1"
        "blaabaer blaabaer blaabaer img1 img1"
        "img2 img2 img2 img1 img1"
        "img2 img2 img2 naering kj"
        "img2 img2 img2 info info";
}

#blaabaer {
    grid-area: blaabaer; 
}

#naering {
    grid-area: naering;
}

#energi {
    grid-area: energi;
}

#KJ {
    grid-area: kj;
    text-align: right;
}

#mereInfo {
    grid-area: info;
    text-align: center;
}
  
#omMarmImg0 {
    display: none;
    grid-area: img0;
}

#omMarmImg1 {
    grid-area: img1;
    width: 100%;
}

#omMarmImg2 {
    grid-area: img2;
    display: block; 
    margin-left: -150px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(15px 15px 15px #222);
    z-index: 0;
}

#omGroenBalance {
    /*background-color: #d9c6c4;*/
    background-image: url(../billeder/produkt/omGBbg_last_chance.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 30px 30px 18%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas: 
        ". . h1 h1 gbImg1"
        ". . gbTxt1 gbTxt1 gbImg1"
        ". . gbTxt2 gbTxt2 gbImg1"
        ". . gbTxt3 gbTxt3 gbImg1";
}

#omGBimg1 {
    grid-area: gbImg1;
}

/*#omGBimg2 {
    grid-area: gbImg2;
}*/

#omGBtxt1 {
    color: #fff;
    grid-area: gbTxt1;
}

#omGBtxt2 {
    color: #fff;
    grid-area: gbTxt2;
}

#omGBtxt3 {
    color: #fff;
    font-size: 120%;
    grid-area: gbTxt3;
}

.green {
    color: #34733d;
    font-weight: 700;
}

#kage1 {
    background: #fff;
    padding: 20px 50px 20px 18%;
    grid-area: kage1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        ". h1 h1 h1 h1"
        ". ingri ingri kage1Img kage1Img"
        "kage1Img2 kage1Img2 kage1Img2 kage1Img kage1Img"
        "kage1Img2 kage1Img2 kage1Img2 kage1txt1 kage1txt1"
        "kage1Img2 kage1Img2 kage1Img2 kage1txt2 kage1txt2"
        "kage1txt3 kage1txt3 kage1txt3 kage1txt3 kage1txt3"
        "kage1txt4 kage1txt4 kage1txt4 kage1txt4 kage1txt4"
        "kage1txt5 kage1txt5 kage1txt5 kage1txt5 kage1txt5";
}

#kage1Img {
    grid-area: kage1Img;
}

#kage1Img2 {
    grid-area: kage1Img2;
    margin-left: -150px;
}

.ingridienser {
    grid-area: ingri;
}

#kage1Txt1 {
    grid-area: kage1txt1;
}

#kage1Txt2 {
    grid-area: kage1txt2;
}

#kage1Txt3 {
    grid-area: kage1txt3;
}

#kage1Txt4 {
    grid-area: kage1txt4;
}

#kage1Txt5 {
    grid-area: kage1txt5;
}

#kage2 {
    /*background: #34733d; 
    background: -webkit-linear-gradient(#102c14, #34733d); 
    background: -o-linear-gradient(#102c14, #34733d); 
    background: -moz-linear-gradient(#102c14, #34733d);
    background: linear-gradient(#102c14, #34733d); */
    background-image: url(../billeder/produkt/omGBbg_last_chance.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 50px 20px 18%;
    grid-area: kage2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "kage2Img kage2Img h1 h1 h1"
        "kage2Img kage2Img ingri ingri ingri"
        "kage2Img kage2Img kage2txt1 kage2txt1 kage2txt1"
        "kage2Img kage2Img kage2txt1 kage2txt1 kage2txt1";
}

#kage2Img {
    grid-area: kage2Img;
}

#kage2Txt1{
    color: #fff;
    grid-area: kage2txt1;
}

#kage2 .ingridienser {
    color: #fff;
}

#KogEsection {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas: 
        "koge koge koge koge koge"
}

#KogE {
    width: 100%;
    grid-area: koge;
}

#butikker { 
    background: #fff;
    padding: 20px 50px 20px 18%;
    grid-area: butik;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "h1 h1 h1 h1 h1"
        ". sparLogo mkLogo menyLogo .";
}

#butikker h1 {
    text-align: center;
}

#sparLogo {
    width: 70%;
    margin: auto;
    padding: 10px 5px;
    grid-area: sparLogo;
}

#mkLogo {
    width: 70%;
    margin: auto;
    padding: 10px 5px;
    grid-area: mkLogo;
}

#menyLogo {
    width: 70%;
    margin: auto;
    padding: 10px 5px;
    grid-area: menyLogo;
}

h1 {
    color: #bf343f;
    font-size: 150%;
    font-weight: 700;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    grid-area: h1;
}

.bold {
    font-weight: 700;
}

/******************************************************************************/
/************************************ FOOTER **********************************/
/******************************************************************************/
footer {
    background-repeat: repeat-x;
    background-image: url("../grafik/juletrae_border.png");
    clear: both;
    grid-area: footer;
}

#juletraer {
    vertical-align: bottom;    
}

#footerText {
    background-color: #34733d;
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

#footerText a {
    color: #fff;
}

#footerText a:hover {
    color: #bf343f;
}

/******************************************************************************/
/************************************ TABLET **********************************/
/******************************************************************************/
@media screen and (max-width: 768px) {    
    /*********************** BODY ************************/
    body {
        font-size: 90%;
    }    
    
    /*********************** GRID ************************/
    #omMarmelade {
        grid-gap: 0px;
        grid-template-areas: 
            "img0 img0 img0 img0 img0"
            "h1 h1 h1 h1 h1"
            "blaabaer blaabaer blaabaer blaabaer blaabaer"
            "naering naering kj info info";
    }
    
    #omGroenBalance {
        grid-gap: 0px;
        grid-template-areas: 
            "h1 h1 h1 gbImg1 gbImg1"
            "gbTxt1 gbTxt1 gbTxt1 gbImg1 gbImg1"
            "gbTxt2 gbTxt2 gbTxt2 gbImg1 gbImg1"
            "gbTxt3 gbTxt3 gbTxt3 gbImg1 gbImg1";
    }
    
    #kage1 {
        grid-gap: 0px;
        grid-template-areas: 
            "h1 h1 h1 h1 h1"
            "ingri ingri ingri kage1Img kage1Img"
            "kage1txt1 kage1txt1 kage1txt1 kage1txt1 kage1txt1"
            "kage1txt2 kage1txt2 kage1txt2 kage1txt2 kage1txt2"
            "kage1txt3 kage1txt3 kage1txt3 kage1txt3 kage1txt3"
            "kage1txt4 kage1txt4 kage1txt4 kage1txt4 kage1txt4"
            "kage1txt5 kage1txt5 kage1txt5 kage1txt5 kage1txt5";
    }
    
    #kage2 {
        grid-gap: 0px;
        grid-template-areas: 
            "h1 h1 h1 h1 h1"
            "ingri ingri ingri kage2Img kage2Img"
            "kage2txt1 kage2txt1 kage2txt1 kage2txt1 kage2txt1";
    }
    
    #butikker {
        grid-gap: 0px;
        grid-template-areas: 
            "h1 h1 h1 h1 h1"
            ". sparLogo sparLogo sparLogo ."
            ". mkLogo mkLogo mkLogo ."
            ". menyLogo menyLogo menyLogo .";
    }
    
    /********************** HEADER ***********************/
    header {
        background-size: 190px;
    }

    #guirlande {
        height: 50px;
    }

    /********************** MENU/LOGO ********************/
    #deskMenu a {
        display: none;
    }
       
    nav {
        height: 75px;
        background-color: rgba(52, 115, 61, 0);
        top: -20px;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas: 
            "burger . .";
    }
        
    .burgermenu {
        position: relative;
        top: 0;
        display: block;
        grid-area: burger;
        }

    .burgerknap {
        width: 55px;
        height: 55px;
        background-color: rgba(52, 115, 61, 0);
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .burgerDD {
        display: none;
        position: absolute;
        background-color: #34733d;
        min-width: 200px;
        z-index: 1;
    }

    .burgerDD a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #fff;
    }

    .burgerDD a:hover {
        background-color: #bf343f;
    }

    .burgermenu:hover .burgerDD {
        display: block;
    }
    
    .burgermenu:hover::after {
        display: none;
    }
    
    #gbLogo {
        display: block;
        width: 15%;
        float: left;
        padding: 20px 0;
        position: fixed;
        top: 40px;
        /*grid-area: nav;*/
        z-index: 1;
    }
    
    /********************** SEPARATOR ********************/
    #separator {
        display: none;
    }
    
    /******************** OM MARMELADEN ******************/
    #omMarmelade {
        padding: 0 0 10px;
    }
    
    #omMarmImg0 {
        display: none;
    }
    
    #omMarmImg1 {
        display: none;    
    }

    #omMarmImg2 {
        display: none;
    }
    
    /******************* OM GRØN BALANCE *****************/
    #omGroenBalance {
        padding: 0 0 10px;
    }
    
    #omGBtxt3 {
        text-align: center;
        font-size: 140%;
    }
    
    #omGBimg1 {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    #omGBimg2 {
        display: none;
    }
    
    /************************ KAGE 1 *********************/
    #kage1 {
        background: #fff;
        padding: 0 0 10px;
    }
    
    #kage1Img {
        margin-top: 20px;
        padding-right: 20px;
    }
    
    #kage1Img2 {
        display: none;
    }

    /************************ KAGE 2 *********************/
    #kage2 {
        padding: 0 0 10px;
    }    

    #kage2Img {
        margin-top: 20px;
        padding-right: 20px;        
    }

    /********************** BUTIKKER *********************/
    #butikker {    
        background: #fff;
        padding: 0 0 10px;
    }

    /*************** GÆLDER ALT I KATEGORI ***************/
    h1 {
        text-align: center;
        margin: 15px 0 0 0;
    }
    
    section p {
        padding: 15px;
    }

    /*********************** FOOTER **********************/
    footer {
        background-size: 150px;
    }

    #juletraer {
        height: 56px;   
    }    
}

/******************************************************************************/
/************************************ MOBILE **********************************/
/******************************************************************************/
@media screen and (max-width: 480px) {
    /*********************** GRID ************************/
    #wrapper, #innerWrapper {
        display: block;
    }
    
    #omMarmelade {
        grid-gap: 0px;
        grid-template-areas: 
            "img0 img0 img0 img0 img0"
            "h1 h1 h1 h1 h1"
            "blaabaer blaabaer blaabaer blaabaer blaabaer"
            "naering naering naering naering kj"
            "info info info info info";
    }
    
    #omGroenBalance {
        grid-gap: 0px;
        grid-template-areas: 
            ". gbImg1 gbImg1 gbImg1 ."
            "h1 h1 h1 h1 h1"
            "gbTxt1 gbTxt1 gbTxt1 gbTxt1 gbTxt1"
            "gbTxt2 gbTxt2 gbTxt2 gbTxt2 gbTxt2"
            "gbTxt3 gbTxt3 gbTxt3 gbTxt3 gbTxt3";
    }
    
    #kage1 {
        grid-gap: 0px;
        grid-template-areas: 
            "kage1Img kage1Img kage1Img kage1Img kage1Img"
            "h1 h1 h1 h1 h1"
            "ingri ingri ingri ingri ingri"
            "kage1txt1 kage1txt1 kage1txt1 kage1txt1 kage1txt1"
            "kage1txt2 kage1txt2 kage1txt2 kage1txt2 kage1txt2"
            "kage1txt3 kage1txt3 kage1txt3 kage1txt3 kage1txt3"
            "kage1txt4 kage1txt4 kage1txt4 kage1txt4 kage1txt4"
            "kage1txt5 kage1txt5 kage1txt5 kage1txt5 kage1txt5";
    }
    
    #kage2{
        grid-gap: 0px;
        grid-template-areas: 
            "kage2Img kage2Img kage2Img kage2Img kage2Img"
            "h1 h1 h1 h1 h1"
            "ingri ingri ingri ingri ingri"
            "kage2txt1 kage2txt1 kage2txt1 kage2txt1 kage2txt1";
    }
    
    #butikker {
        grid-gap: 0px;
        grid-template-areas: 
            "h1 h1 h1 h1 h1"
            ". sparLogo sparLogo sparLogo ."
            ". mkLogo mkLogo mkLogo ."
            ". menyLogo menyLogo menyLogo .";
    }
    
    /*********************** BODY ************************/
    body {
        font-size: 90%;
    }
    
    /********************** HEADER ***********************/
    header {        
        display: none;
    }

    #guirlande {        
        display: none;
    }
    
    #hero {
        display: none;
    }

    /********************** MENU/LOGO ********************/
    #gbLogo, #deskMenu a {
        display: none;
    }
    
    nav {
        width: 100%;
        height: 50px;
        background-color: #34733d;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas: 
            "burger mobillogo .";
    }
            
    #mobilLogo {
        display: block;
        margin:  2.5px auto;
        height: 24px;
        grid-area: mobillogo;
    }

    .burgerknap {
        width: 40px;
        height: 30px;
        position: fixed;
        top: 0;
        background-color: #34733d;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    /******************** OM MARMELADEN ******************/
    #omMarmelade {
        padding: 30px 0 10px;
        vertical-align: top;
    }
    
    #omMarmImg0 {
        display: block;
        width: 100%;
    }
    
    #omMarmImg1 {
        display: none;    
    }

    #omMarmImg2 {
        display: none;
    }
    
    /******************* OM GRØN BALANCE *****************/
    #omGroenBalance {
        padding: 0 0 10px;
    }
    
    #omGBtxt3 {
        font-size: 100%;
    }
    
    #omGBimg1 {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    #omGBimg2 {
        display: none;
    }
    
    /************************ KAGE 1 *********************/
    #kage1 {
        padding: 0 0 10px;
    }
    
    #kage1Img2 {
        display: none;
    }
    
    #kage1Img {
        margin-top: 0;
        padding-right: 0;
    }

    /************************ KAGE 2 *********************/
    #kage2 {
        padding: 0 0 10px;
    }   
    
    #kage2Img {
        margin-top: 0;
        padding-right: 0;        
    }

    /********************** BUTIKKER *********************/
    #butikker {    
        padding: 0 0 10px;
    }

    /*************** GÆLDER ALT I KATEGORI ***************/
    h1 {
        text-align: center;
        font-size: 120%;
        margin: 15px 0 0 0;
    }
    
    section p {
        padding: 15px;
    }

    /*********************** FOOTER **********************/ 
    #footerText {
        font-size: 90%;
    }    
}
























