/**************GRID FOR WRAPPER***************/

#wrapper {
    font-size: 1em;
    color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-style:solid;

    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-areas: 
        "header header  header  header"
        "nav   hero     hero    hero"
        "nav   hero    hero    hero"
        "nav  separator   separator   separator"
        "nav   innerwrapper    innerwrapper    innerwrapper"
        "nav footer  footer  footer";
}


#header {
    grid-area: header;
    background-color:coral;
    border-color: #000000;
    border-width: 2px;
    border-style:solid;
    grid-column-end: span 4;

}

#nav {
    grid-area: nav;
    background-color: green;
    border-color: #000000;
    border-width: 2px;
    border-style:solid;

}

#hero {
    grid-area: hero;
    background-color: red;
}

#separator {
    grid-area: separator;
    background-color: dodgerblue;
}

#innerWrapper {
    grid-area: innerwrapper;
    background-color: blueviolet;
}

#footer {
    grid-area: footer;
    background-color: dimgrey;
}

